body {
  padding: 7.5vw;
  display: grid;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}

.img-div {
  height: 30vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  display: none;
}

.svg {
  height: 1.5rem;
  border: none;
  display: none;
  transition:.5s ease-in-out
}
.name-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  color: blue;
  font-size: 4vmax;
}

.wrapper:hover h2 {
  color: black;
}

.wrapper:hover .svg {
  display: block;
}
.img-div {
  transition: opacity 1s ease-out;
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
}

a {
  min-height: 100%;
  text-decoration: none;
}
/*  */

#first:target .img-div {
  height: 70vw;
  opacity: 1;
}

#first:target .svg {
  transform: rotate(45deg);
}

/*  */

#second:target .img-div {
  height: 70vw;
  opacity: 1;
}

#second:target .svg {
  transform: rotate(45deg);
}

/*  */

#third:target .img-div {
  height: 70vw;
  opacity: 1;
}

#third:target .svg {
  transform: rotate(45deg);
}

/*  */

#fourth:target .img-div {
  height: 70vw;
  opacity: 1;
}

#fourth:target .svg {
  transform: rotate(45deg);
}

/*  */

#fifth:target .img-div {
  height: 70vw;
  opacity: 1;
}

#fifth:target .svg {
  transform: rotate(45deg);
}

/*  */

@media (pointer: fine) {
  .first:hover .img-div {
    height: 30vw;
    opacity: 1;
  }

  .first:hover .svg {
    transform: rotate(45deg);
  }

  .second:hover .img-div {
    height: 30vw;
    opacity: 1;
  }

  .second:hover .svg {
    transform: rotate(45deg);
  }

  .third:hover .img-div {
    height: 30vw;
    opacity: 1;
  }

  .third:hover .svg {
    transform: rotate(45deg);
  }

  .fourth:hover .img-div {
    height: 30vw;
    opacity: 1;
  }

  .fourth:hover .svg {
    transform: rotate(45deg);
  }

  .fifth:hover .img-div {
    height: 30vw;
    opacity: 1;
  }

  .fifth:hover .svg {
    transform: rotate(45deg);
  }

  /*  */

  #first:target .img-div {
    height: 30vw;
    opacity: 1;
  }

  #first:target .svg {
    transform: rotate(45deg);
  }

  /*  */

  #second:target .img-div {
    height: 30vw;
    opacity: 1;
  }

  #second:target .svg {
    transform: rotate(45deg);
  }

  /*  */

  #third:target .img-div {
    height: 30vw;
    opacity: 1;
  }

  #third:target .svg {
    transform: rotate(45deg);
  }

  /*  */

  #fourth:target .img-div {
    height: 30vw;
    opacity: 1;
  }

  #fourth:target .svg {
    transform: rotate(45deg);
  }

  /*  */

  #fifth:target .img-div {
    height: 30vw;
    opacity: 1;
  }

  #fifth:target .svg {
    transform: rotate(45deg);
  }

  /*  */

  h2 {
    font-size: 2.5vmax;
  }
}
